.button {
    background-color: #64e4d3;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    padding: 2px 8px;
}

body {
    background-color: aliceblue;
}